<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./styles/dashboard.css">
    <link rel="stylesheet" href="./styles/nav.css">
</head>
<body>
    <nav>
        <div class="name">
            <a href=""><h1>VolunTeens</h1></a>
        </div>
        <div class="subheadings">
            <a href="/dashboard">Dashboard</a>
            <a href="/opportunities">Opportunities</a>
            <a href="/groups">Groups</a>
            <a href="/account">Account</a>
        </div>
    </nav>
    <div class="goals">
        <h1 class="hours-num"><span class="specific-hours">50</span> Hours Served</h1>
        <div class="goal">
            <div class="goal-title">
                <h2 class="goal-header">Graduation <span>|</span> 06/23/25</h2>
            </div>
            <div class="progress">
                <div class="bar">
                    <div class="progress-bar-overlay"></div>
                    <div class="progress-bar"></div>
                </div>
                <h2 class="subtitle"><span class="specific-hours">50</span>/<span class="total-hours">100</span> Hours</h2>
                <script>
                    let hoursReceived = parseInt(document.querySelector('.specific-hours').textContent, 10)
                    let hoursTotal = parseInt(document.querySelector('.total-hours').textContent, 10)
                    let w = hoursReceived / hoursTotal * 90;
                    document.querySelector('.progress-bar-overlay').style.width = w + "%";
                    document.querySelector('.progress-bar').style.width = (90 - w) + "%";
                </script>
            </div>
        </div>
    </div>
    <div class="upcoming">
        <h1 class="activities-header">Upcoming Volunteering Experiences</h1>
        <div class="events">
            <div class="event">
                <div class="image"><img src="/images/trash-area.png" alt=""></div>
                <div class="info">
                    <h1>Community Service Pickup</h1>
                    <h3>October 3rd, 2023</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="activities">
        <h1 class="activities-header">Previous Volunteering Experiences</h1>
        <table>
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Organization</th>
                    <th>Hours Served</th>
                    <th>Date</th>
                    <th>Certificate</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Soupers</td>
                    <td>Soup Kitchen</td>
                    <td>6.95</td>
                    <td>10/20/30</td>
                    <td class="certificate"><a href="#">Copy Link</a></td>
                </tr>
                <tr>
                    <td>Soupers</td>
                    <td>Soup Kitchen</td>
                    <td>6.95</td>
                    <td>10/20/30</td>
                    <td class="certificate"><a href="#">Copy Link</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>