<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CommuniTeens</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/event.css">
    <link rel="stylesheet" href="/styles/nav.css">
</head>
<body>
    <nav>
        <div class="name">
            <a href=""><h1>CommuniTeens</h1></a>
        </div>
        <div class="subheadings">
            <a href="/dashboard">Dashboard</a>
            <a href="/opportunities">Opportunities</a>
            <a href="/groups">Groups</a>
            <a href="/account">Account</a>
        </div>
    </nav>
    <div class="banner">
        <div class="information">
            <h1>Event Name</h1>
            <div class="line"></div>
            <h3>Hosted By: <span>Farmlings International</span></h3>
            <h3>Date: March 31st, 2024</h3>
            <h3>Time: 1:30pm - 2:20pm</h3>
            <h3>Members Attending: 39</h3>
            <h3>Location: 43 Form Place, Glen Rock, New Jersey</h3>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tincidunt, purus eu ullamcorper luctus, lacus quam fringilla orci, in finibus urna neque sit amet orci. Donec varius lorem vel nisi accumsan, vitae aliquet nibh semper. Donec eros ex, finibus quis scelerisque sit amet, dictum quis urna. Praesent posuere dui eu ornare cursus. Nullam a fermentum leo. Mauris dui dui, imperdiet ut sodales et, mollis sed leo. Nulla facilisi. Morbi non turpis vitae lacus posuere porta.</h4>
            <a href="#" class="register">Register</a>
        </div>
    </div>
    
</body>
</html>