<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CommuniTeens</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/groups.css">
    <link rel="stylesheet" href="/styles/nav.css">
</head>
<body>
    <nav>
        <div class="name">
            <a href=""><h1>CommuniTeens</h1></a>
        </div>
        <div class="navToggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="subheadings">
            <a href="/dashboard">Dashboard</a>
            <a href="/opportunities">Opportunities</a>
            <a href="/groups">Groups</a>
            <a href="/account">Account</a>
        </div>
    </nav>
    <div class="initGroups">
        <h1><span>Groups</span><br> The best way to organize volunteer organizations and clubs.</h1>
        <div class="btns">
            <a href="#" class="join">Join a Group</a>
            <a href="#" class="create">Create a Group</a>
        </div>
    </div>

    <div class="yourGroups">
        <h1 class="groups-header">Your Groups</h1>
        <% results.forEach((group) => { %>
            <div class="group">
                <div class="banner">
                    <img src="/images/trash-area.png" alt="">
                </div>
                <div class="information">
                    <h1><%=group.name%></h1>
    
                    <a href="/group/<%=group.groupID%>">Go to group!</a>
                </div>
            </div>
        <% }) %>
    </div>

    <script src="/scripts/groups.js"></script>
    <script src="/scripts/nav.js"></script>
</body>
</html>