<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CommuniTeens</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/opportunities.css">
    <link rel="stylesheet" href="/styles/nav.css">
</head>
<body>
    <nav>
        <div class="name">
            <a href=""><h1>CommuniTeens</h1></a>
        </div>
        <div class="subheadings">
            <a href="/dashboard">Dashboard</a>
            <a href="/opportunities">Opportunities</a>
            <a href="/groups">Groups</a>
            <a href="/account">Account</a>
        </div>
    </nav>
    <div class="search">
        <div class="keywords">
            <input type="text" placeholder="Keywords...">
        </div>
        <div class="location">
            <input type="text" placeholder="Zipcode...">
        </div>
        <div class="location">
            <input type="text" placeholder="Date (MM/DD/YY)">
        </div>
        <div class="searchBtn">
            <input type="button" value="Search">
        </div>
    </div>
    <div class="events">
        <h1 class="bigHeader">Opportunities</h1>
        <% results.forEach((event) => { %>
            <div class="event">
                <div class="date">
                    <h1 class="month"><%= new Date(event.date).toLocaleString('en-US', { month: 'short' }).toUpperCase() %></h1>
                    <h1 class="day"><%= new Date(event.date).getDate() %></h1>
                </div>
                <div class="otherInfo">
                    <h1 class="name"><%= event.name %></h1>
                    <h2 class="company">n/a</h2>
                    <h2 class="location">n/a</h2>
                </div>
             </div>
        <% }) %>
    </div>
</body>
</html>