.initGroups {
    background-color: #a0d1bc;
    padding: 10px;
    padding-bottom: 50px;
}

.initGroups h1 {
    text-align: center;
    font-size: 2rem;
}

.initGroups h1 span {
    color: #41584f;
    font-size: 3rem;
}

.initGroups a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #415c51;
    padding: 20px;
    border-radius: 25px;
    transition: all .2s;
}

.initGroups a:hover {
    background-color: #537f6d;
    border-radius: 50px;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.yourGroups {
    background-color: #41584f;
    padding: 10px;
}

.groups-header {
    color: white;
    text-align: center;
}

.group {
    margin: 20px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(255,0,0,.5);
    border-radius: 20px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.banner {
    height: 200px;
}

.group .information {
    text-align: center;
    color:white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.information a {
    text-decoration: none;
    color: black;
    margin-bottom: 30px;
    background-color: #be5e5e;
    width: 60%;
    display: inline-block;
    margin-left: 20%;
    padding: 10px 0;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .group {
        display: block;
    }

    .banner img {
        border-radius: 20px 20px 0 0;
    }
}