body, html {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

nav .name a {
    text-decoration: none;
    color: black;
}

.subheadings a {
    text-decoration: none;
    color: #889696;
    font-size: 1.2rem;
    margin: 0 1px;
    padding: 0 5px;
    transition: all .2s;
}

.subheadings a:hover {
    color: #3c3c3c;
    background-color: #e7e7e7;
}