.goals {
    width: 90vw;
    background-color: #B8BDB5;
    text-align: center;
    padding: 3vh 5vw;
    padding-bottom: 50px;
}

.specific-hours {
    color: rgb(19, 105, 19);
}

.hours-num {
    font-size: 2.4rem;
}

.goal {
    background-color: #d0d4cd;
    padding: 20px;
}

.goal-title {
    display: flex;
    padding: 0 10%;
    justify-content: center;
}

.bar {
    display: grid;
    grid-template-columns: 4fr 4fr;
    padding: 0;
}

.progress-bar {
    width: 80%;
    margin-left: 0;
    height: 30px;
    background-color: black;
}

.progress-bar-overlay {
    width: 0;
    margin-left: 10%;
    margin-right: 0;
    height: 30px;
    background-color: green;
    border: 5px solid white;
}

.progress {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 10px 20px;
}

.progress .subtitle {
    margin: 0;
    padding: 0;
}

.goal-header {
    font-size: 2rem;
    margin: 0;
}

.goal-date {
    font-size: 1.5rem;
}

.goal-header span {
    margin: 0 50px;
}

.activities, .upcoming {
    width: 90vw;
    background-color: #889696;
    padding: 3vh 5vw;
    padding-bottom: 50px;
}

table {
    width: 80%;
    margin-left: 10%;
    border-collapse:collapse;
}

th, td {
    font-size: 1.4rem;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
}

tr {
    border-bottom: #345f5f 1px solid;
}

.certificate a {
    text-decoration: none;
    color:black;
    background-color: #B8BDB5;
    display: inline-block;
    padding: 3px;
    transition: all .2s;
}

.certificate a:hover {
    background-color: #d8ded5;
}

.certificate {
    text-align: center;
}

.upcoming {
    width: 100%;
    background-color: #33504e;
}

.upcoming .activities-header {
    color:rgb(219, 219, 219);
}

.events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.event {
    background-color: white;
    border-radius: 20px;
}

.image img {
    border-radius: 20px 20px 0 0;
    max-height: 300px;
    object-fit: cover;
    width: 100%;
}

.event .info h1 {
    font-size: 1.4rem;
    margin: 10px 0;
    padding-left: 10px;;
}

.event .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event .info h3 {
    font-size: 1rem;
    margin: 10px 0;
    padding-right: 10px;
    color: #545454
}

.event:hover {
    cursor: pointer;
}